<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>
<title>订单管理</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Gato Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link th:href="@{/css/bootstrap.css}" rel='stylesheet' type='text/css' />

<!-- Custom Theme files -->
<link th:href="@{/css/stylet.css}" rel='stylesheet' type='text/css' />
<script th:src="@{/js/jquery.min.js}"> </script>
	<!-- 表格 -->
	<link th:href="@{/css/admintable.css}" rel='stylesheet' type='text/css' />

</head>
<body>
	<!--start-home-->
	<div id="home" class="header">
		<div class="header-bottom">
			<div class="container">
				<div class="logo">
					<a href="index.html"><h1>宠物<span>之家</span></h1></a>
				</div>
				<span class="menu"></span>
				<div class="top-menu">
					<ul>
					<nav>
						<li><a  th:href="@{/admin/user}">用户管理</a></li>
						<li><a  class="active" th:href="@{/admin/order}">订单管理</a></li>
						<li><a th:href="@{/admin/cart}">商品管理</a></li>
						<li><a  th:href="@{/admin/blog}">博客管理</a></li>
						<li><a  th:href="@{/myblog}">我的</a>
							</li>
					</nav>
					</ul>
				</div>



				<!-- script for menu -->
				<script>
				$( "span.menu" ).click(function() {
				  $( ".top-menu" ).slideToggle( "slow", function() {
				    // Animation complete.
				  });
				});
			</script>
			<!-- script for menu -->
				<div class="clearfix"></div>
			</div>
		</div>

	<div class="banner two">
		<div class="container">	
		<div class="pag-nav">
				<ul class="p-list">
					<li><a href="index.html" th:href="@{/index}">首页</a></li> &nbsp;&nbsp;/&nbsp;
					<li class="act">&nbsp; 订单管理</li>
				</ul>
			</div>

		</div>   
	</div>
	</div>

	<h2>订单管理</h2>
	<div class="table-wrapper">
		<table class="fl-table" >
			<thead>
			<tr>
				<th>用户名</th>
				<th>收件人</th>
				<th>商品名</th>
				<th>订单号</th>
				<th>数量</th>
				<th>金额</th>
				<th>地址</th>
				<th>电话</th>
				<th>备注</th>
				<th>日期</th>
				<th>状态</th>



			</tr>
			</thead>
			<tbody th:each="bo:${bok}">
			<tr>
				<td th:text="${bo.getUname()}">Content</td>
				<td th:text="${bo.getAname()}">Content</td>
				<td th:text="${bo.getPname()}">Content</td>
				<td th:text="${bo.getOnumber()}">Content</td>
				<td th:text="${bo.getNum()}">Content</td>
				<td th:text="${bo.getTotal()}">Content</td>
				<td th:text="${bo.getAddress()}"></td>
				<td th:text="${bo.getNumber()}">Content</td>
				<td th:text="${bo.getOther()}">Content</td>
				<td th:text="${bo.getBdate()}">Content</td>
				<td><div class="btn_main"><button th:text="${bo.getDealw()}" th:onclick="'javascript:adminse('+${bo.getId()}+')' "></button></div></td>
			</tr>
			<tbody>
		</table>
	</div>

	<nav>
		<button><a th:href="@{/admin/adminord}"><div class="btn_main">未处理单</div></a></button>
		<button onclick="admina()"><a><div class="btn_main">一键受理</div></a></button>
		<button ><a th:href="@{/admin/adminexcel}"><div class="btn_main">一键导出</div></a></button>
	</nav>
	<p></p>
	<div class="support">
		<form th:action="@{/admin/se}">
			<input type="submit" value="搜索订单" class="botton" >
			<input type="text" class="text"  name="name"  value="输入订单号/用户/受理情况" onfocus="this.value = '';" onblur="if (this.value == '输入订单号/用户...') {this.value = '输入订单号/用户...';}">
		</form>
	</div>

	<p >当前第<span th:text="${pageinn.pageNum}"></span>页，总<span th:text="${pageinn.pages}"></span>页，共<span th:text="${pageinn.total}"></span>条记录</p>
	<div>
		<nav>
			<a th:href="@{/admin/order}" >首页</a>
			<a th:href="@{/admin/order(pageNum=${pageinn.hasPreviousPage}?${pageinn.prePage}:1)}"  >上一页</a><!-- 是否有上一页：有回到上一页，没有回到首页 -->
			<a th:href="@{/admin/order(pageNum=2)}" >2</a>
			<a th:href="@{/admin/order(pageNum=3)}" >3</a>
			<a th:href="@{/admin/order(pageNum=4)}" >4</a>
			<a th:href="@{/admin/order(pageNum=5)}">5</a>
			<a th:href="@{/admin/order(pageNum=${pageinn.hasNextPage}?${pageinn.nextPage}:${pageinn.pages})}" >下一页</a>
			<a th:href="@{/admin/order(pageNum=${pageinn.pages})}" >尾页</a>
		</nav>
	</div>

	<script type="text/javascript" th:inline="javascript">
        function adminse(idd) {
            $.ajax({
                url: "http://localhost:8080/admin/adminse",
                type: "get",       //提交方式
                //向后台提交的数据
                data:{
                    id:idd,

                },
                dataType: "JSON",       //规定请求成功后返回的数据
                contentType:"application/json",
                success: function (data) {
                    alert("受理成功")
                    window.location.href="http://localhost:8080/admin/order";
                    console.log(data)
                    //请求成功之后进入该方法，data为成功后返回的数据
                },
                error: function (errorMsg) {
                    alert("受理失败")
                    console.log(errorMsg)
                    //请求失败之后进入该方法，errorMsg为失败后返回的错误信息
                }
            })}
            //未处理订单
        function admina() {
            $.ajax({
                url: "http://localhost:8080/admin/adminall",
                type: "get",       //提交方式
                dataType: "JSON",       //规定请求成功后返回的数据
                contentType:"application/json",
                success: function (data) {
                    alert("一键受理成功")
                    window.location.href="http://localhost:8080/admin/order";
                    console.log(data)
                    //请求成功之后进入该方法，data为成功后返回的数据
                },
                error: function (errorMsg) {
                    alert("一键受理失败")
                    console.log(errorMsg)
                    //请求失败之后进入该方法，errorMsg为失败后返回的错误信息
                }
            })}



	</script>


	<!-- Java Script
      ================================================== -->
	<script th:src="@{/js/jquery-2.1.3.min.js}"></script>
	<script th:src="@{/js/plugins.js}"></script>
	<script th:src="@{/js/main.js}"></script>


</body>
</html>