<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>星座匹配结果</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Gato Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link th:href="@{/css/bootstrap.css}" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<link th:href="@{/css/stylet.css}" rel='stylesheet' type='text/css' />
<script th:src="@{/js/jquery.min.js}"> </script>


	<!--Style 表格样式-->
	<link rel="stylesheet" th:href="@{/css/pcss/bootstrap.css}">
	<link rel="stylesheet" th:href="@{/css/pcss/fonts.css}">
	<link rel="stylesheet" th:href="@{/css/pcss/style.css}">

	<!--Color Switcher Mockup-->
	<link rel="stylesheet" th:href="@{/css/pcss/color-default.css}">
	<link rel="stylesheet" th:href="@{/css/pcss/color-switcher.css}">





<body>
	<!--start-home-->
	<div id="home" class="header">
		<div class="header-bottom">
			<div class="container">
				<div class="logo">
					<a href="index.html"><h1>宠物<span>之家</span></h1></a>
				</div>
				<span class="menu"></span>
				<div class="top-menu">
					<ul>
					<nav>
						<li><a href="index.html" th:href="@{/index}">首页</a></li>
						<li><a href="about.html" th:href="@{/about}" class="active" >店铺简介</a></li>
						<li><a href="portfolio.html" th:href="@{/portfolio}" >宠物商城</a></li>
						<li><a href="index.html" th:href="@{/blog}">宠物论坛</a></li>
						<li><a href="contact.html" th:href="@{/myblog}">我的</a></li>
					</nav>
					</ul>
				</div>
				<!-- script for menu -->
				<script>
				$( "span.menu" ).click(function() {
				  $( ".top-menu" ).slideToggle( "slow", function() {
				    // Animation complete.
				  });
				});
			</script>
			<!-- script for menu -->
				<div class="clearfix"></div>
			</div>
		</div>

		<div class="banner two">
			<div class="container">
				<div class="pag-nav">
					<ul class="p-list">
						<li><a href="index.html" th:href="@{/index}">首页</a></li> &nbsp;&nbsp;/&nbsp;
						<li class="act">&nbsp; 星座匹配结果</li>
					</ul>
				</div>

			</div>
		</div>

	</div>
	<!-- Pricing List-->
	<section class="section section-md bg-default text-center">
		<div class="container">
			<div class="title-group">
				<h3 class="font-weight-regular">幸运匹配结果</h3>
			</div>
		<div th:each="lis:${lists}">
			<p></p>
			<h4 th:text="${lis.getName()}"></h4>
			<p></p>
			<div th:if="${st.equals('cat')}">
			<h7 th:text="${lis.getPre()}"></h7></div>
			<div th:if="${st.equals('dog')}">
				<h7 th:text="${lis.getDpre()}"></h7></div>
			<p></p>

		</div>

			<button class="isotope-filters-toggle button button-sm button-icon button-icon-right button-default-outline" data-custom-toggle=".isotope-filters-list" data-custom-toggle-disable-on-blur="true" data-custom-toggle-hide-on-blur="true"><span class="icon mdi mdi-chevron-down"></span>Filter</button>
			<div class="isotope-filters-list-wrap">
							<ul class="isotope-filters-list">

								<li ><a  th:href="@{/cons(mouth=${m},day=${n})}"data-isotope-filter="*">星座猫咪</a></li>
								<li  ><a  th:href="@{/cons?style=dog(mouth=${m},day=${n})}" data-isotope-filter="Type 1">星座狗狗</a></li>
							</ul>
			</div>
			<div class="row row-xl row-30 justify-content-center">
				<div class="col-sm-6 col-lg-4" th:each="ca:${catCons}">
					<article class="pricing-classic pricing-classic-sale">
						<div class="pricing-classic-header"><img   class="pricing-classic-figure" th:src="${ca.getUrl()}" alt="" width="346" height="229"/>
							<div class="pricing-classic-caption">
								<div><span class="product-badge product-badge-sale">热卖</span>

									<div class="pricing-classic-price-wrap">
										<div class="pricing-classic-price pricing-classic-price-old heading-6">$2000</div>
										<div class="pricing-classic-price heading-4" th:text="${ca.getPrice()}">$120.00</div>
									</div>
								</div>
							</div>
						</div>
						<div class="pricing-classic-body">
							<ul class="pricing-classic-list">
								<h4><li th:text="${ca.getName()}"></li></h4>
								<h5><li th:text="${ca.getPrice()}"></li></h5>

							</ul><button class="button button-lg button-default-outline-2 button-zakaria"   th:onclick="'javascript:addgoods('+${ca.getId()}+')'">加入购物车</button>
						</div>
					</article>
				</div>
			</div>
		</div>
	</section>
	<script type="text/javascript" th:inline="javascript">
        var styl = '[[${s}]]';
        function addgoods(idd) {
            $.ajax({
                url: "http://localhost:8080/addgood",
                type: "get",       //提交方式
                //向后台提交的数据
                data:{
                    id:idd,
					style:styl,

                },
                dataType: "JSON",       //规定请求成功后返回的数据
                contentType:"application/json",
                success: function (data) {
                    alert("加入购物车成功")
                    //window.location.href="http://localhost:8080/random";
                    console.log(data)
                    //请求成功之后进入该方法，data为成功后返回的数据
                },
                error: function (errorMsg) {
                    alert("加入购物车失败")
                    console.log(errorMsg)
                    //请求失败之后进入该方法，errorMsg为失败后返回的错误信息
                }
            })}

	</script>


	<!--start-smoth-scrolling-->
	<script type="text/javascript">


        jQuery(document).ready(function($) {
            $(".scroll").click(function(event){
                event.preventDefault();
                $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
            });
        });
	</script>

	<!--start-smoth-scrolling-->
	<script type="text/javascript">
        $(document).ready(function() {
            /*
            var defaults = {
                  containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
             };
            */

            $().UItoTop({ easingType: 'easeOutQuart' });

        });
	</script>


	<script th:src="@{/js/core.min.js}"></script>
	<script th:src="@{/js/script.js}"></script>

</body>
</html>